<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Torrent Youtube Uploader</title>
  </head>
  <body>
    <h1>Torrent Youtube Uploader</h1>
    <a href="<%= url %>">Login</a>
  </body>
</html>
